<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocksData</key>
	<array>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=10568</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#0179d8</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>太平洋电脑网</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/10568.png?1405654762</string>
			<key>pk</key>
			<string>10568</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>太平洋电脑网</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/daily_hot.php?app_id_4=310000</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string>3</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>今日看点</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string></string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>YES</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/1057.png</string>
			<key>pk</key>
			<string>310000</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>今日看点</string>
			<key>type</key>
			<string>system</string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/blog.php?app_id=660</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#374a70</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>头条热点</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/660.png?1395910221</string>
			<key>pk</key>
			<string>660</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>头条热点</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=9</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#6a4c8f</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>娱乐八卦</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/9.png?1395910379</string>
			<key>pk</key>
			<string>9</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>娱乐八卦</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=8</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#d85847</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>体育频道</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/8.png?1389772322</string>
			<key>pk</key>
			<string>8</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>体育频道</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=7</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#be4547</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>汽车频道</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/7.png?1395910185</string>
			<key>pk</key>
			<string>7</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>汽车频道</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=4&amp;act=list</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#6c574e</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>财经资讯</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/4.png?1395910077</string>
			<key>pk</key>
			<string>4</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>财经资讯</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/blog.php?app_id=1067</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#1d1d1d</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>奢侈品频道</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/1067.png?1389772309</string>
			<key>pk</key>
			<string>1067</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>奢侈品频道</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=13</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#4fa7ab</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>科技频道</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/13.png?1401868187</string>
			<key>pk</key>
			<string>13</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>科技频道</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/blog.php?app_id=981</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#6cb2d2</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>旅游频道</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/981.png?1407469522</string>
			<key>pk</key>
			<string>981</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>旅游频道</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=10802</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#84bfe3</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>健康频道</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/10802.png?1408531167</string>
			<key>pk</key>
			<string>10802</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>健康频道</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=10714</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#0c0c0c</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>无时尚中文网</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string></string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/10714.png?1397195613</string>
			<key>pk</key>
			<string>10714</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>无时尚中文网</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=11270</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#bb1767</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>米粒妈妈</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/11270.png?1407725072</string>
			<key>pk</key>
			<string>11270</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>米粒妈妈</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=10795</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#d2213b</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>蝉游记</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/10795.png?1381480480</string>
			<key>pk</key>
			<string>10795</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>蝉游记</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=11214</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#282828</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>摄影世界</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/11214.png?1408674461</string>
			<key>pk</key>
			<string>11214</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>摄影世界</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/blog.php?app_id=923</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#41607d</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>华尔街见闻</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string></string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/923.png?1383300383</string>
			<key>pk</key>
			<string>923</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>华尔街见闻</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=11478</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#1186c9</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>12缸汽车网</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string></string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/11478.png?1404873723</string>
			<key>pk</key>
			<string>11478</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>12缸汽车网</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=10972</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#ba2751</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>3G门户·娱乐</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string></string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/10972.png?1381475823</string>
			<key>pk</key>
			<string>10972</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>3G门户·娱乐</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=10672</string>
			<key>article_list_type</key>
			<string></string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#d03d3d</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>U体育</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>rss</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/10672.png?1387159234</string>
			<key>pk</key>
			<string>10672</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>U体育</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
		<dict>
			<key>alert_num</key>
			<string></string>
			<key>api_url</key>
			<string>http://iphone.myzaker.com/zaker/news.php?app_id=11446</string>
			<key>article_list_type</key>
			<string>episode</string>
			<key>aturl</key>
			<string></string>
			<key>author_name</key>
			<string></string>
			<key>author_url</key>
			<string></string>
			<key>block_bg_key</key>
			<string></string>
			<key>block_color</key>
			<string>#ec6692</string>
			<key>block_in_title</key>
			<string></string>
			<key>block_title</key>
			<string>百思不得姐</string>
			<key>blog_post_url</key>
			<string></string>
			<key>can_addtodesk</key>
			<string>Y</string>
			<key>catalog_title</key>
			<string></string>
			<key>catalog_url</key>
			<string></string>
			<key>comment_list_url</key>
			<string></string>
			<key>data_type</key>
			<string>episode</string>
			<key>detail_pic</key>
			<string></string>
			<key>disable_like</key>
			<string>N</string>
			<key>emotions</key>
			<string></string>
			<key>hidden_time</key>
			<string>0</string>
			<key>is_sns</key>
			<string>N</string>
			<key>last_upadte_dtime</key>
			<string></string>
			<key>need_userinfo</key>
			<string>NO</string>
			<key>no_offline_down</key>
			<string>N</string>
			<key>pic</key>
			<string>http://zkres.myzaker.com/data/image/logo/11446.png?1403083588</string>
			<key>pk</key>
			<string>11446</string>
			<key>pnum</key>
			<string></string>
			<key>requestLogin</key>
			<string></string>
			<key>search_url</key>
			<string></string>
			<key>show_type</key>
			<string></string>
			<key>skey</key>
			<string></string>
			<key>stitle</key>
			<string></string>
			<key>tabinfo_url</key>
			<string></string>
			<key>title</key>
			<string>百思不得姐</string>
			<key>type</key>
			<string></string>
			<key>web_url</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
